nav {
    position: sticky;
    top: 0;
}
.content-search{
    background-color: transparent;
    border: none;
    outline: none;
    color: white!important ;
    font-size: small;
    min-width: 330px;
    border-bottom: 2px solid white;
}
.content-search::placeholder{
    color: white!important;
}

.navbar {
    box-shadow: none !important;
    padding-top: 0.5625rem;
}
#logo{
    font-size: larger;
    color: white;
}
.invertedNav{
    font-size: larger;
    color: black !important;
}
.invertedNav::placeholder{
    color: black !important;
}
.nav-bar-inverted{
color: black;
}

.nav-bar{
   background-color: white!important;
   -webkit-box-shadow: 0 1px 1px 0 rgb(65 69 73 / 30%), 0 1px 3px 1px rgb(65 69 73 / 15%) !important;
}
