nav {
    position: sticky;
    top: 0;
}
.content-search{
    background-color: transparent;
    border: none;
    outline: none;
    color: white ;
    font-size: small;
    min-width: 330px;
    border-bottom: 2px solid white;
}
.content-search::placeholder{
    color: white;
}

.navbar {
    box-shadow: none !important;
    padding-top: 0.5625rem;
}
#logo{
    font-size: larger;
    color: white;
}
.invertedNav{
    font-size: larger;
    color: black !important;
}
.invertedNav::placeholder{
    color: black !important;
}
.nav-bar-inverted{
color: black;
}

.nav-bar{
   background-color: white!important;
}