.modal{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    z-index: 200;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000;
    background-color: rgba(0,0,0,0.4);
    transition: 0.2s all;
}
.login-modal-wrap{
   
    padding-top: calc((100vh - 600px) / 2);
    transform: translate3d(0, 0, 0);
    padding-top: 65px;
}
.login-modal-wrap.show {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}
.modal.show{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
@media (min-width: 1024px){
.login-modal-wrap {
    padding-top: calc((100vh - 600px) / 2);
}}
.overlay{
    position: absolute;
    z-index: 20;
}
.main-bg-img .overlay{
    background-image: url('../../assets/zany-jadraque-ZCRtfop2hZY-unsplash.jpg');
    background-size: cover;
    background-position-y: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
}
.login-modal-wrap.show .login-modal {
    transform: translateY(0);
}
@media (min-width: 1024px){
.login-modal-wrap .login-modal {
    transform: translateY(-1000px);
    width: 800px;
    margin: 0 auto;
    height: 600px;
    display: flex;
}}

.login-modal-wrap .login-modal {
    z-index: 10;
    transform: translateY(1000px);
    border-radius: 20px;
    position: relative;
    width: 100%;
    background: #fff;
    height: 100%;
}

.modal.show {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}   
.main-bg-img {
    background-image: url('../../assets/bg-login.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 828px;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.left-image {
    max-width: 50%;
    max-height: 631px;
    object-fit: cover;
    overflow: hidden;
}
.left-image img  {
    width: 100%;
    object-fit: cover;
    height: 630px;
}
.bg-white {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 630px;
}

@media screen and (max-width:1024px) {
    .left-image {
        display: none;
    }
   .wrapper .bg-white {
        width: 60% !important;
        border-radius: 10px;
    }
}